<div class="footer-section">

    <div class="footer-content">
        <ul class="footer-list">
            <li class="footer-list-item call-item">

                <div class="footer-list-item-icon phone-icon"></div>


                    <div class="footer-list-item-content">
                        <p class="footer-list-item-text title">Call</p>
                        <p class="footer-list-item-text">+55 48 3284 3035</p>
                    </div>


            </li>


            <li class="footer-list-item mail-item">
                 <div class="footer-list-item-icon mail-icon"></div>

                 <div class="footer-list-item-content">
                     <p class="footer-list-item-text title">Mail</p>
                     <p class="footer-list-item-text">mirandaleandro@@gmail.com</p>
                 </div>

            </li>


            <li class="footer-list-item social-item">
                 <div class="footer-list-item-icon plus-icon"></div>
                 <div class="footer-list-item-content">
                     <p class="footer-list-item-text title">Follow me</p>
                     <div class="social-network-icon facebook-icon"></div>
                     <div class="social-network-icon google-icon"></div>
                     <div class="social-network-icon twitter-icon"></div>
                 </div>
            </li>


            <li class="footer-list-item copyright-item">
                 <div class="footer-list-item-icon copyright-icon"></div>
                 <div class="footer-list-item-content">
                     <p class="footer-list-item-text copyright-text">© 2013 by Leandro Miranda</p>
                     <p class="footer-list-item-text copyright-text">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”</p>
                 </div>
            </li>
        </ul>

    </div>

</div>