<div class="header-container">

    <div class="header">

        <div class="identification">
            <div class="name">Leandro Miranda</div>
            <div class="profession">Systems Analyst</div>
        </div>

        <div class="page-menu">
            <ul class="page-menu-list">
                <li class="page-menu-list-item">Home</li>
                <li class="page-menu-list-item">Resume</li>
                <li class="page-menu-list-item">Projects</li>
                <li class="page-menu-list-item">Contact</li>
            </ul>
        </div>

    </div>

</div>