@()

@main("Leandro Miranda"){
<div class="content-section">
    <div class="page-content">

        <img class="avatar-400 home-avatar" type="image/png" src="@routes.Assets.at("images/avatar-disaturate-400x400.png")">

        <div class="home-info">
            <h1 class="home-title">Hello,</h1>

            <h2 class="home-subtitle">a bit about me:</h2>

            <div class="menu-links">
                <ul>
                    <li class="menu-links-list-item"><div class="bubble-note">My resume</div></li>
                    <li class="menu-links-list-item"><div class="bubble-note green-effect">My work</div></li>
                    <li class="menu-links-list-item"><div class="bubble-note yellowgreen-effect">My skills</div></li>
                </ul>
            </div>

            <p class="content-text">
                I'm a 26 years old man who has been involved with software development for the last 4 years. During this time, I've been in touch with many technologies, from the desktop to the web, from the Mac to the Linux. Lovely husband and most recently father, I'm also a very competent self-taught person, a remarkable characteristic that I have mostly because I'm also so curious. I'm funny  and I feel that my friends enjoy to stay around me because my stupid jokes and my eternal state of good mood.
            </p>

        </div>

    </div>
</div>
}