@()

@main("Leandro Miranda"){
<div class="content-section resume-section">
    <div class="page-content">

        <div class="left-section">
            <h1>Resume</h1>

            <div class="horizontal-separator"></div>

            <div class="content-block">

                <div class="bubble-note bubble-label midsize">
                    <div class="bubble-text">Professional info</div>
                </div>

                <div class="content-description">

                    <div class="content-text">Since the very beginning of my undergraduate studies I have been involved
                        with
                        IT related positions. I like pretty much the art of make words become live things in the
                        computer
                        screen, but also love to be in touch with the team delegating tasks and composing strengths to
                        achieve objects.
                        I have no problems with learning new technologies, actually, I love learning new stuff. I have
                        worked with so many different technologies and I always bring new concepts and paradigms to
                        things I
                        already know. I use to say that learning Objective-c made of me a better Java programmer.</div>

                </div>

            </div>

            <div class="horizontal-separator"></div>

            <div class="content-block">

                <div class="bubble-note bubble-label midsize">
                    <div class="bubble-text">Work Experience</div>
                </div>

                <div class="content-description">

                <div class="content-label">Job position. Click to edit</div>
                <div class="content-label">​2010 - present</div>
                <p class="content-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to write more. Tell a story about yourself</p>

                </div>
            </div>

            <div class="horizontal-separator"></div>
        </div>
    </div>
</div>
}